$lnb_navy: #133550;
$lnb_font_color: #2fd4b6;
$lnb_font_active_color: #ffe14f;
$gradient_1: #35bfa8;
$gradient_2: #247578;
$gradient_3: #1da6ca;
$gradient_4: #22e6d0;
$gradient_5: #fbeedb;
$gradient_6: #ccaf8d;
$background_dark: #051d21;

$modal_color: #d2e4e8;
$modal_gradient_1: #6ba6ae;
$modal_gradient_2: #518086;

$background_image_width: 962px;
$background_image_height: 562px;

$title_font_size: 60px;
$subTitle_font_size: 15px;

