$lnb_navy: #133550;
$lnb_font_color: #2fd4b6;
$lnb_font_active_color: #ffe14f;
$gradient_1: #35bfa8;
$gradient_2: #247578;
$gradient_3: #1da6ca;
$gradient_4: #22e6d0;
$gradient_5: #fbeedb;
$gradient_6: #ccaf8d;
$background_dark: #051d21;

$modal_color: #d2e4e8;
$modal_gradient_1: #6ba6ae;
$modal_gradient_2: #518086;

$background_image_width: 820px;
$background_image_height: 520px;

$title_font_size: 60px;
$subTitle_font_size: 15px;

$event_period_padding_left: 5%;

$lnb_bg_width : 170px;
$lnb_bg_height : 60px;

$acheive_quest_width : 730px;
$acheive_quest_height : 80px;

$attendance_container_width : 90px;
